<!DOCTYPE html>
<html>
<head>
<title>Add Location</title>
</head>
<body>
<div>


            <h2>Add Location</h2>
            <form action="LocationAdded">
                <div class="form-group col-md-6">
                    <label>Enter ID</label>
                    <input type="number" name="Id" class="form-control" placeholder="Enter ID" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Enter Latitude</label>
                    <input type="number" step="any" name="lat" class="form-control" placeholder="Enter Latitude" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Enter Longitude</label>
                    <input type="number" step="any" name="long" class="form-control" placeholder="Enter Longitude">
                </div>
                                       
                <button type="submit" class="btn btn-primary">Click to add Location</button>

            </form>
            
            <form action="back">
            <button type="submit" class="btn btn-primary">back</button>
            </form>
            </div>
            
</body>
</html>