<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhmtl"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Edit Location</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

	<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  
  
}

.c {
  position: absolute;
  left: 125px;  
  width: 200px;
  height: 120px;
  
} 
 
.button5 {background-color: #4CAF50;}
.button6 {background-color: #f44336;}
</style>

</head>
<body>
	<div class="container">
		<h2>Location Edit</h2>
		<br /> <br />
		<form action="#"
			th:action="@{/location/update/{id}(id=${location.id})}"
			th:object="${location}" method="post">
			<label for="location_name">Name</label> 
			</br>
			<input type="text" onkeypress="return /[a-z]/i.test(event.key)"
				th:field="*{location_name}" id="location_name"
				placeholder="Location Name" required> 
				</br>
				<span th:if="${#fields.hasErrors('location_name')}"
				th:errors="*{location_name}"></span> 
				</br>
				<label for="latitude">Latitude</label>
				</br>
			<input type="number" th:field="*{latitude}" id="latitude" step="any" max="90" min="-90"
				placeholder="Latitude" required> 
				</br>
				<span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></span>
				</br>
			<label for="longitude">Longitude</label> 
			</br>
     		<input type="number" step="any" max="180" min="-180"
				th:field="*{longitude}" id="longitude" placeholder="Longitude" required>
			<span th:if="${#fields.hasErrors('longitude')}"
				th:errors="*{longitude}"></span> 
				</br>
				</br>
				<input type="submit" class="button button5"
				value="Click to update location">
		</form>


	</div>
	
	</br>
	</br>
	<div class="c">
		 <form th:action="cancel">
            <button type="cancel" class="button button6">Back</button>
        </form>
	</div>

</body>
</html>